.ImgaeInputDiv {
  margin: 0 auto;
  position: relative;
  width: 7em;
  height: 7em;
  cursor: pointer;
}

.ImgaeInputDiv img {
  filter: brightness(85%);
  object-fit: cover;
  border-radius: 50%;
}
.UploadIcon {
  position: absolute;
  bottom: 8px;
  left: 45%;
  color: rgb(0, 0, 0);
  z-index: 10000;
}
